# This workflow will build, publish and deploy it to commitlint.io

name: Commitlint.io

on:
  push:
    # Publish `main` as Docker `latest` image.
    branches:
      - main

jobs:
  # Push image to GitHub Packages.
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install
      - run: npm run prepare
      - run: npm run patch
      - run: npm run build

      - name: Deploy
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
